<div class="content__header">
    <h2>Create link</h2>

    <div class="actions">
        <a href=""><i class="zmdi zmdi-check-all"></i></a>
        <a href=""><i class="zmdi zmdi-trending-up"></i></a>
    </div>
</div>
<div class="card">
    <div class="card__body">
        <form action="/link/create" method="POST">
            <div class="row">
                <div class="col-sm-6">
                    <p>Action</p>

                    <div class="form-group form-group--select">
                        <select class="form-control" name="action.name">
                            <option value="TweetOnHashtagAction">TweetOnHashtagAction</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" rows="5" name="action.params" placeholder="Parameters for this action"></textarea>
                        <i class="form-group__bar"></i>
                    </div>
                </div>

                <div class="col-sm-6">
                    <p>Reaction</p>

                    <div class="form-group form-group--select">
                        <select class="form-control" name="reaction.name">
                            <option value="SimpleOutputReaction">SimpleOutputReaction</option>
                            <option value="TweetReaction">TweetReaction</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <textarea name="reaction.params" class="form-control" rows="5" placeholder="Parameters for this reaction"></textarea>
                        <i class="form-group__bar"></i>
                    </div>
                </div>
            </div>
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>