<div class="content--boxed">
    <div class="content__header">
        <h2>Links</h2>
    </div>

    <div class="card">
        <div class="action-header">
            <div class="action-header__label"></div>

            <div class="actions action-header__actions">
                <a href="/link/create"><i class="zmdi zmdi-plus"></i></a>
            </div>
        </div>

        <div class="list-group list-group--striped">
            <div class="list-group-item media">
                <div class="checkbox pull-left list-group__checkbox list-group__checkbox">
                    <label>
                        <input type="checkbox">
                        <i class="input-helper"></i>
                    </label>
                </div>

                <div class="pull-left">
                    <div class="avatar-char">P</div>
                </div>

                <div class="pull-right">
                    <div class="actions">
                        <div class="dropdown">
                            <a href="" data-toggle="dropdown"><i class="zmdi zmdi-more-vert"></i></a>

                            <ul class="dropdown-menu pull-right">
                                <li><a href="">Refresh</a></li>
                                <li><a href="">Listview Settings</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="media-body">
                    <div class="list-group__heading">Per an error perpetua, fierent fastidii recteque ad pro. Mei id
                        brute intellegam
                    </div>
                    <small class="list-group__text">Quisque non tortor ultricies, posuere elit id, lacinia purus
                        curabitur.
                    </small>
                </div>
            </div>

            <div class="list-group-item media">
                <div class="checkbox pull-left list-group__checkbox">
                    <label>
                        <input type="checkbox">
                        <i class="input-helper"></i>
                    </label>
                </div>

                <div class="pull-right">
                    <div class="actions">
                        <div class="dropdown">
                            <a href="" data-toggle="dropdown"><i class="zmdi zmdi-more-vert"></i></a>

                            <ul class="dropdown-menu pull-right">
                                <li><a href="">Refresh</a></li>
                                <li><a href="">Listview Settings</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="pull-left">
                    <div class="avatar-char">D</div>
                </div>

                <div class="media-body">
                    <div class="list-group__heading">Dulla vel metus scelerisque ante sollicitudin commodo purus odio
                    </div>
                    <small class="list-group__text">Nunc quis diam diamurabitur at dolor elementum, dictum turpis vel
                    </small>
                </div>
            </div>

            <div class="list-group-item media">
                <div class="checkbox pull-left list-group__checkbox">
                    <label>
                        <input type="checkbox">
                        <i class="input-helper"></i>
                    </label>
                </div>

                <div class="pull-right">
                    <div class="actions">
                        <div class="dropdown">
                            <a href="" data-toggle="dropdown"><i class="zmdi zmdi-more-vert"></i></a>

                            <ul class="dropdown-menu pull-right">
                                <li><a href="">Refresh</a></li>
                                <li><a href="">Listview Settings</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="pull-left">
                    <div class="avatar-char">P</div>
                </div>

                <div class="media-body">
                    <div class="list-group__heading">Per an error perpetua, fierent fastidii recteque ad pro. Mei id
                        brute intellegam
                    </div>
                    <div class="list-group__attrs">
                        <div>Date Created: 09/06/1988</div>
                        <div>Members: 78954</div>
                        <div>Published: No</div>
                    </div>
                </div>
            </div>

            <div class="list-group-item media">
                <div class="checkbox pull-left list-group__checkbox">
                    <label>
                        <input type="checkbox">
                        <i class="input-helper"></i>
                    </label>
                </div>

                <div class="pull-left">
                    <div class="avatar-char">D</div>
                </div>

                <div class="pull-right">
                    <div class="actions">
                        <div class="dropdown">
                            <a href="" data-toggle="dropdown"><i class="zmdi zmdi-more-vert"></i></a>

                            <ul class="dropdown-menu pull-right">
                                <li><a href="">Refresh</a></li>
                                <li><a href="">Listview Settings</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="media-body">
                    <div class="list-group__heading">Donec congue tempus ligula, varius hendrerit mi hendrerit sit amet.
                        Duis ac quam sit amet leo feugiat iaculis
                    </div>
                    <small class="list-group__text">An erant explicari salutatus duo, sumo doming delicata in cum. Eos
                        at augue viderer principes
                    </small>

                    <span class="list-group__attrs">
                                        <span>Date Created: 09/06/1988</span>
                                        <span>Members: 78954</span>
                                        <span>Published: No</span>
                                    </span>
                </div>
            </div>

            <div class="list-group-item media">
                <div class="checkbox pull-left list-group__checkbox">
                    <label>
                        <input type="checkbox">
                        <i class="input-helper"></i>
                    </label>
                </div>

                <div class="pull-left">
                    <img class="avatar-img" src="demo/img/profile-pics/1.jpg" alt="">
                </div>

                <div class="pull-right">
                    <div class="actions">
                        <div class="dropdown">
                            <a href="" data-toggle="dropdown"><i class="zmdi zmdi-more-vert"></i></a>

                            <ul class="dropdown-menu pull-right">
                                <li><a href="">Refresh</a></li>
                                <li><a href="">Listview Settings</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="media-body">
                    <div class="list-group__heading">Per an error perpetua, fierent fastidii recteque ad pro. Mei id
                        brute intellegam
                    </div>
                    <small class="list-group__text">Phasellus a ante et est ornare accumsan at vel magnauis blandit
                        turpis at augue ultricies
                    </small>
                </div>
            </div>

            <div class="list-group-item media">
                <div class="checkbox pull-left list-group__checkbox">
                    <label>
                        <input type="checkbox">
                        <i class="input-helper"></i>
                    </label>
                </div>

                <div class="pull-left">
                    <img class="avatar-img" src="demo/img/profile-pics/2.jpg" alt="">
                </div>

                <div class="pull-right">
                    <div class="actions">
                        <div class="dropdown">
                            <a href="" data-toggle="dropdown"><i class="zmdi zmdi-more-vert"></i></a>

                            <ul class="dropdown-menu pull-right">
                                <li><a href="">Refresh</a></li>
                                <li><a href="">Listview Settings</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="media-body">
                    <div class="list-group__heading">Wel ea elit iuvaret. Mea labitur definitiones ex, id atqui accusata
                        vix, vim nibh mandamus ad
                    </div>
                    <small class="list-group__text">Wendy create ipsum dolor sit amet, per cu solet docendi ntoenstion
                    </small>

                    <span class="list-group__attrs">
                                        <span>Date Created: 09/06/1988</span>
                                        <span>Members: 78954</span>
                                        <span>Published: No</span>
                                    </span>
                </div>
            </div>

            <div class="list-group-item media">
                <div class="checkbox pull-left list-group__checkbox">
                    <label>
                        <input type="checkbox">
                        <i class="input-helper"></i>
                    </label>
                </div>

                <div class="pull-left">
                    <img class="avatar-img" src="demo/img/profile-pics/3.jpg" alt="">
                </div>

                <div class="pull-right">
                    <div class="actions">
                        <div class="dropdown">
                            <a href="" data-toggle="dropdown"><i class="zmdi zmdi-more-vert"></i></a>

                            <ul class="dropdown-menu pull-right">
                                <li><a href="">Refresh</a></li>
                                <li><a href="">Listview Settings</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="media-body">
                    <div class="list-group__heading">Per an error perpetua, fierent fastidii recteque ad pro. Mei id
                        brute intellegam
                    </div>

                    <span class="list-group__attrs">
                                        <span>Date Created: 11/06/1988</span>
                                        <span>Members: 212</span>
                                        <span>Published: Yes</span>
                                    </span>
                </div>
            </div>

            <div class="list-group-item media">
                <div class="checkbox pull-left list-group__checkbox">
                    <label>
                        <input type="checkbox">
                        <i class="input-helper"></i>
                    </label>
                </div>

                <div class="pull-left">
                    <img class="avatar-img" src="demo/img/profile-pics/4.jpg" alt="">
                </div>

                <div class="pull-right">
                    <div class="actions">
                        <div class="dropdown">
                            <a href="" data-toggle="dropdown"><i class="zmdi zmdi-more-vert"></i></a>

                            <ul class="dropdown-menu pull-right">
                                <li><a href="">Refresh</a></li>
                                <li><a href="">Listview Settings</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="media-body">
                    <div class="list-group__heading">Per an error perpetua, fierent fastidii recteque ad pro. Mei id
                        brute intellegam
                    </div>
                    <small class="list-group__text">Phasellus a ante et est ornare accumsan at vel magnauis blandit
                        turpis at augue ultricies
                    </small>
                </div>
            </div>

            <div class="list-group-item media">
                <div class="checkbox pull-left list-group__checkbox">
                    <label>
                        <input type="checkbox">
                        <i class="input-helper"></i>
                    </label>
                </div>

                <div class="pull-right">
                    <div class="actions">
                        <div class="dropdown">
                            <a href="" data-toggle="dropdown"><i class="zmdi zmdi-more-vert"></i></a>

                            <ul class="dropdown-menu pull-right">
                                <li><a href="">Refresh</a></li>
                                <li><a href="">Listview Settings</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="media-body">
                    <div class="list-group__heading">Dulla vel metus scelerisque ante sollicitudin commodo purus odio
                    </div>
                    <small class="list-group__text">Nunc quis diam diamurabitur at dolor elementum, dictum turpis vel
                    </small>
                </div>
            </div>

            <div class="list-group-item media">
                <div class="checkbox pull-left list-group__checkbox">
                    <label>
                        <input type="checkbox">
                        <i class="input-helper"></i>
                    </label>
                </div>

                <div class="pull-right">
                    <div class="actions">
                        <div class="dropdown">
                            <a href="" data-toggle="dropdown"><i class="zmdi zmdi-more-vert"></i></a>

                            <ul class="dropdown-menu pull-right">
                                <li><a href="">Refresh</a></li>
                                <li><a href="">Listview Settings</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="media-body">
                    <div class="list-group__heading">Per an error perpetua, fierent fastidii recteque ad pro. Mei id
                        brute intellegam
                    </div>
                    <span class="list-group__attrs">
                                        <span>Date Created: 09/06/1988</span>
                                        <span>Members: 78954</span>
                                        <span>Published: No</span>
                                    </span>
                </div>
            </div>

            <div class="list-group-item media">
                <div class="checkbox pull-left list-group__checkbox">
                    <label>
                        <input type="checkbox">
                        <i class="input-helper"></i>
                    </label>
                </div>

                <div class="pull-right">
                    <div class="actions">
                        <div class="dropdown">
                            <a href="" data-toggle="dropdown"><i class="zmdi zmdi-more-vert"></i></a>

                            <ul class="dropdown-menu pull-right">
                                <li><a href="">Refresh</a></li>
                                <li><a href="">Listview Settings</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="media-body">
                    <div class="list-group__heading">Per an error perpetua, fierent fastidii recteque ad pro. Mei id
                        brute intellegam
                    </div>
                    <small class="list-group__text">An erant explicari salutatus duo, sumo doming delicata in cum. Eos
                        at augue viderer principes
                    </small>

                    <span class="list-group__attrs">
                                        <span>Date Created: 09/06/1988</span>
                                        <span>Members: 78954</span>
                                        <span>Published: No</span>
                                    </span>
                </div>
            </div>
        </div>

        <div class="text-center p-30">
            <ul class="pagination">
                <li><a href=""><i class="zmdi zmdi-long-arrow-left"></i></a></li>
                <li class="active"><a href="">1</a></li>
                <li><a href="">2</a></li>
                <li><a href="">3</a></li>
                <li><a href="">4</a></li>
                <li><a href="">5</a></li>
                <li><a href=""><i class="zmdi zmdi-long-arrow-right"></i></a></li>
            </ul>
        </div>
    </div>
</div>