<aside id="navigation">
    <div class="navigation__header">
        <i class="zmdi zmdi-long-arrow-left" data-mae-action="block-close"></i>
    </div>

    <div class="navigation__toggles" style="height: 30px">

    </div>

    <div class="navigation__menu c-overflow">
        <ul>
            <li>
                <a href="/"><i class="zmdi zmdi-home"></i> Home</a>
            </li>
            <li><a href="/connect"><i class="zmdi zmdi-link"></i> Connections</a></li>
            <li><a href="/links"><i class="zmdi zmdi-widgets"></i> Manage links</a></li>
        </ul>
    </div>
</aside>